/* Custom scrollbar for Modal body */
.ant-modal-body::-webkit-scrollbar {
  width: 4px;
}

.ant-modal-body::-webkit-scrollbar-track {
  background: transparent;
}

.ant-modal-body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.ant-modal-body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.ant-descriptions-bordered .ant-descriptions-item-label {
  background-color: #e0e9f7 !important; /* Your desired color */
  font-weight: bold;
}

.custom-descriptions .ant-descriptions-item-label {
  background-color: #e6f7ff;
}


.ant-modal-mask {
  background-color: rgba(46, 46, 46, 0.2) !important;
}
